@import '../../styles/variables.scss';
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 22px;
  .nav-link {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    font-weight: 700;
    transition: 0.07s ease all;
    &:hover {
      outline: 3px solid $project-blue;
      outline-offset: 7px;
      border-radius: 1px;
    }
    img {
      width: 30px;
      height: 30px;
      margin-right: 12px;
    }
    span {
      display: none;
      font-size: $font-sm;
      @include md-screens {
        display: inline-block;
      }
    }
  }
  .delete-btn {
    padding: 10px 16px;
    display: flex;
    align-items: center;
    border: 2px solid hsl(4 66% 63%);
    color: hsl(4 66% 63%);
    background-color: hsl(5, 37%, 93%);
    cursor: pointer;
    transition: 0.1s ease all;
    border-radius: 3px;
    &:hover {
      outline: 3px solid hsl(4 66% 63%);
      outline-offset: 3px;
      background-color: hsl(4 66% 63%);
      color: white;
    }

    span {
      margin-right: 5px;
      font-size: large;
    }
    .trash-icon {
      width: 24px;
    }
  }
}
